a{
    color: #af1313;
}
a:hover{
    background-color:#e72929;
    color: white;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a {
    padding: 1em;
    display:inline-block;
}
.container{
    margin: 0;
    display: flex;
    justify-content:space-evenly;
}